.secao-produtos{
    text-align: center;
    padding:20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secao-oculos{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.produto-oculos{
    background-color: #f4f4f4;
    width: calc((90%/2));
    height: 30vh;
    font-weight: bold;
}
.produto-oculos img{
    width: 50%;
    height: 40%;
}
.secao-produtos ul{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.secao-produtos li{
    text-align: left;
    margin: 5px;
}

@media screen and (max-width:550px) {
    .secao-produtos{
        text-align: center;
    }

    .secao-produtos ul:last-child{
        text-align: left;
        width: 100%;
    }

    .produto-oculos{
        width: 95%;
    }
}

@media screen and (min-width:551px) and (max-width:768px) {
    .secao-oculos{
        width: 100%;
    }
    .produto-oculos{
        width: calc((95%/2));
        height: 30vh;
    }
}