header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
    background-color: white;
}
.logo-img{
    height: 85%;
}

.links-topo a{
    font-size: 14px;
    color: black;
    padding: 0px 15px;
    text-decoration: none;
}
